nav {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: azure;
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
